# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out
*.app

swipe
swipe.dSYM
Swipe.app
AerospaceSwipe.app
AeroSpaceSwipe.app
swipe.dSYM
